.title-xl {
    font: bold 2.5rem "noto-sans-normal";
    margin-bottom: 25px;
    text-align: center;
    color: #FF473B;
    @media (max-width: 990px) {
        text-align: center;
        font: bold 1.5rem "noto-sans-normal";
    }
}

.title-sm {
    font: 1.25rem "gotham-bold";
    @media (max-width: 990px) {
        font-size: 1.125rem;
    }
}

.text-light {
    font: .95rem "noto-sans-normal";
    @media (max-width: 990px) {
        font-size: .87rem;
    }
}

.text-bold {
    font: .95rem "gotham-bold";
    @media (max-width: 990px) {
        font-size: .87rem;
    }
}