footer {
    box-shadow: 0 7px 20px rgba(0, 0, 0, .1);
    border-radius: 15px;
    background: #fff;
    position: relative;
}

.footer-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0 0 0;
    @media (max-width: 990px) {
        display: grid;
        grid-template-columns: 1fr;
    }
}

.footer-box-logo {
    margin-right: 5px;
    @media (max-width: 990px) {
        margin: 0 auto;
        display: block;
    }
    img {
        @media (max-width: 990px) {
            height: 80px;
            max-width: 100%;
        }
    }
}



.footer-box-feedback {
    display: flex;
    flex-direction: column;
    @media (max-width: 990px) {
       flex-direction: row;
       justify-content: center;
       align-items: center;
       margin-bottom: 25px;
    }
    @media (max-width: 576px) {
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        align-items: center;
        position: relative;
        left: 20px;
    }
    a {
        color: #000;
        font:.95rem "gotham-bold";
        position: relative;
        &:hover {
            text-decoration: underline;
        }
        @media (max-width: 990px) {
            margin: 0 10px;
        }
        @media (max-width: 576px) {
            margin: 0;
        }
    }
    a:last-child {
        &::before {
            position: absolute;
            content: url(../img/icon/phone.png);
            left: -30px;
            top: -1px;
            @media (max-width: 990px) {
                position: relative;
                left: -5px;
                top: 5px;
            }
        }
        @media (max-width: 576px) {
            left: -25px;
            position: relative;
        }
    }
}

.politika-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 0 20px 0;
    p {
        color: #000;
        font: 500 .8rem 'Noto Sans', sans-serif;
        opacity: .5;
        @media (max-width: 990px) {
            text-align: center;
        }
    }
}

.politika-footer a {
    color: #000;
}


.footer-social-box {
    display: flex;
    align-items: center;
    @media (max-width: 990px) {
        justify-content: center;
        padding: 20px 0;
    }
    a {
        margin: 0 12px;
    }
}



.white-popup-block {
    background: #fff;
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
    padding: 25px 50px;
    position: relative;
    border-radius: 15px; }
    @media (max-width: 990px) {
      .white-popup-block {
        padding: 20px; } }
    .white-popup-block .modal-title {
      font: 900 2rem "gotham-bold";
      margin-bottom: 10px; }
      @media (max-width: 990px) {
        .white-popup-block .modal-title {
          font-size: 1.5rem; } }
    .white-popup-block .modal-text {
      margin-bottom: 15px;
      font-weight: normal; }
      @media (max-width: 576px) {
        .white-popup-block .modal-text br {
          display: none; } }
    .white-popup-block form {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
      .white-popup-block form button {
        border: 2px solid #C53D28;
        background: transparent;
        color: #C53D28; }
        .white-popup-block form button:hover {
          color: #fff; }
    .white-popup-block .input-box {
      width: 300px; }
      @media (max-width: 576px) {
        .white-popup-block .input-box {
          width: 100%; } }
    .white-popup-block .btn-wrap {
      width: 300px; }
      @media (max-width: 576px) {
        .white-popup-block .btn-wrap {
          width: 100%; } }


          .input-box {
            width: 350px;
            margin-bottom: 15px; }
            @media (max-width: 576px) {
              .input-box {
                width: 100%; } }
            .input-box input {
              width: 100%;
              -webkit-box-sizing: border-box;
                      box-sizing: border-box;
              padding: 12px 15px;
              border: 2px solid #000;
              border-radius: 20px; }

              .white-popup-block form button {
                border: 2px solid #C53D28;
                background: transparent;
                width: 100%;
                color: #C53D28; }
                .white-popup-block form button:hover {
                  color: #fff; }


                  .btn-wrap button {
                    width: 100%;
                    background: #c53d28;
                    border-radius: 20px;
                    color: #fff;
                    outline: none;
                    font: normal 1.125rem 'Noto Sans', sans-serif;
                    border: none;
                    padding: 12px;
                    transition: .3s;
                    cursor: pointer;
                }