.team-container {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-gap: 25px;
    @media (max-width: 768px) {
        display: none;
    }
    .tabs__caption {
        display: grid;
        grid-gap: 20px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        div {
            height: 200px;
            width: 100%;
            overflow: hidden;
            cursor: pointer;
        }
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            transition: .3s;
            &:hover {
                transform: scale(1.1);
            }
        }
    }
    .tabs__content.active {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.team-mob {
    display: none!important;
    @media (max-width: 768px) {
        display: block!important;
    }
    .team-mob-box {
        border-radius: 20px;
        background: #fff;
        padding: 20px 15px;
        box-shadow: 0px 7px 20px rgba(0, 0, 0, 0.07);
        margin: 10px;
    }
    .mob-box-photo {
        display: flex;
        justify-content: flex-start;
        margin-bottom: 10px;
        grid-gap: 10px;
        img {
            height: 110px;
            max-width: 100%;
            object-fit: cover;
            margin-right: 15px;
        }
        .team-prof {
            font-size: .8rem;
            line-height: 18px;
        }
    }
    .slick-dots {
        bottom: -30px;
    }
}

.team {
    .team-title {
        margin-bottom: 5px;
    }
    .team-prof {
        color: #FF473B;
        font-weight: normal;
        line-height: 23px;
        margin-bottom: 5px;
    }
    .team-description {
        font-weight: normal;
        line-height: 23px;
    }
}

.slick-dots li button:before {
    font-size: 40px;
    color: #C53D28;
}

.slick-dots li.slick-active button:before {
    color: #C53D28;
    opacity: 1;
}
